<br>
<br>
<br>

<div class="container">

       <h1 class="display-3">About</h1>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laudantium doloremque saepe autem
              deleniti alias vitae minus animi unde enim sunt quod soluta quas, aut magnam porro maxime dicta ipsa.</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat sed, quasi voluptas nobis esse beatae quas
              laudantium nihil velit corrupti, eius recusandae quod necessitatibus magni at est nulla eum eaque?</p>
</div>